<h1>Edit Your Profile</h1>

<%= form_with model: @profile do |f| %>
    <%= f.label :first_name %>
    <%= f.text_input :first_name %>

    <%= f.label :last_name %>
    <%= f.text_input :last_name %>

    <%= f.label :date_of_birth %>
    <%= f.date_input :date_of_birth %>

    <%= f.label :bio %>
    <%= f.text_area :bio %>

    <%= f.submit %>
<% end %>