<%= turbo_stream_from [comment, "comments"] %>

  <%= turbo_frame_tag comment do %>
    <div class="comment-wrapper">
      <div class="comment">
        <strong><%= link_to_feed(comment.commenter) %></strong>
        <p><%= comment.body %></p>
      </div>
    
      <%= dropdown button_text: "...", menu_position: "center" do %>
        <%= render "comments/creator_controls", comment: comment %>
      <% end %>
  </div>

  <%= turbo_frame_tag nested_dom_id(comment, "likes_counter") do %>
    <span><%= link_to "#{comment.likes.size} likes", "#" unless comment.likes.empty? %></span>
  <% end %>

  <div class="comment-actions">
    <%= render "shared/like_action", likable: comment, user: local_assigns[:user] %>
    <%= link_to "Reply", new_comment_comment_path(comment), data: { turbo_frame: nested_dom_id(comment, "new_comment") } %>
  </div>

  <% if local_assigns[:show_page] %>
    <ul>
      <%= turbo_frame_tag nested_dom_id(comment, "comments") do %>
        <%= render comment.comments, show_page: local_assigns[:show_page] %>
      <% end %>
      <%= turbo_frame_tag nested_dom_id(comment, "new_comment") %>
    </ul>
  <% else %>
    <%= link_to "See more replies",
                polymorphic_path(comment.commentable),
                data: { turbo: false } if comment.comments.size > 0 %>
  <% end %>
<% end %>
