<h2>All Users</h2>

<ul>
    <% @users.each do |user| %>
        <li>
            <%= link_to user.profile.full_name, user_profile_path(user) %>
            <% if current_user.friend?(user) %>
                <strong>You are friends</strong> 
                <%= button_to "Unfriend",
                              friendship_path(Friendship.find_interchangeable(current_user.id, user.id)),
                              method: :delete, data: { turbo_confirm: "Are you sure?"} %>
            <% elsif current_user.request_sent?(user) %>
                <strong>Request Sent</strong>
            <% elsif current_user.request_received?(user) %>
                <%= render "shared/request_response",
                    friendship: Friendship.find_by(user_id: user.id, friend_id: current_user.id) %>
            <% else %>
                <%= button_to "Send Request", friendships_path(friend_id: user.id) %>
            <% end %>
        </li>
    <% end %>

    <br>

    <%= link_to "All Posts", user_posts_path(current_user) %>
</ul>
