<%= turbo_frame_tag post do %>
    <div class="post">
        <p><%= link_to post.body, post_path(post), data: { turbo_frame: "_top" } %></p>
        <strong>By: </strong><%= post.creator.profile.full_name %>

        <% if defined?(user) && Pundit.policy(user, post).update? %>
            <%= render "posts/creator_controls", post: post, show_page: local_assigns[:show_page] %>
        <% end %>

        <div id="creator_controls_<%= post.id %>" ></div>
    </div>
<% end %>
