<%= turbo_stream_from [post, "comments"] %>

<%= turbo_frame_tag post do %>
    <div class="post">
        <strong><%= link_to_feed(post.creator) %></strong>
        <p><%= post.body %></p>

        <div class="comment_counter">
            <%= link_to "#{post.comments.size} comments", post, data: { turbo_frame: "_top" } unless post.comments.empty? %>
        </div>

        <%= render "posts/creator_controls", post: post, show_page: local_assigns[:show_page] %>

        <%= turbo_frame_tag nested_dom_id(post, "comments") do %>
            <% if local_assigns[:show_page] %>
                <%= render post.comments %>
            <% elsif post.latest_comment %>
                <%= render "comments/comment", comment: post.latest_comment %>
                <%= link_to "See more comments", post, data: { turbo_frame: "_top" } if post.comments.size > 1 %>
            <% end %>
        <% end %>

        <%= turbo_frame_tag nested_dom_id(post, "new_comment") do %>
            <%= render "comments/form", comment: Comment.new, post: post %>
        <% end %>
    </div>
<% end %>
