<%= turbo_stream_from [post, "comments"] %>

<%= turbo_frame_tag post do %>
    <div class="post">
        <p><%= link_to post.body, post_path(post), data: { turbo_frame: "_top" } %></p>
        <strong>By: </strong><%= post.creator.profile.full_name %>

        <%= render "posts/creator_controls", post: post, show_page: local_assigns[:show_page] %>

        <%= turbo_frame_tag nested_dom_id(post, "comments") do %>
            <%= render post.comments %>
        <% end %>

        <%= turbo_frame_tag nested_dom_id(post, "new_comment") do %>
            <%= render "comments/form", comment: Comment.new, post: post %>
        <% end %>
    </div>
<% end %>
