<%= turbo_stream_from [post, "comments"] %>

<%= turbo_frame_tag post do %>
    <div class="post">
        <strong><%= link_to_feed(post.creator) %></strong>
        <p><%= post.body %></p>

        <div class="post__counters">
            <%= turbo_frame_tag nested_dom_id(post, "likes_counter") do %>
                <span><%= link_to "#{post.likes.size} likes", "#" unless post.likes.empty? %></span>
            <% end %>
            <%= turbo_frame_tag nested_dom_id(post, "comments_counter") do %>
                <span><%= link_to "#{post.comments.size} comments", post, data: { turbo_frame: "_top" } unless post.comments.empty? %></span>
            <% end %>
        </div>

        <%= render "posts/creator_controls", post: post, show_page: local_assigns[:show_page] %>

        <div class="user-actions">
            <%= render "shared/like_action", likable: post, user: local_assigns[:user] %>
            <%= button_to "Comment", "#", method: :get, data: { turbo:false } %>
        </div>

        <%= turbo_frame_tag nested_dom_id(post, "comments") do %>
            <% if local_assigns[:show_page] %>
                <%= render post.comments, user: local_assigns[:user], show_page: local_assigns[:show_page] %>
            <% elsif post.latest_comment %>
                <%= link_to "See more comments", post, data: { turbo_frame: "_top" } if post.comments.size > 1 %>
                <%= render "comments/comment", comment: post.latest_comment, user: local_assigns[:user] %>
            <% end %>
        <% end %>

        <%= turbo_frame_tag nested_dom_id(post, "new_comment") do %>
            <%= render "comments/form", comment: Comment.new, commentable: post %>
        <% end %>
    </div>
<% end %>
