<%= stylesheet_link_tag "posts" %>
<%= turbo_stream_from "posts" %>

<div class="feed">
    <h1>Posts</h1>

    <%= link_to "New Post", new_user_post_path(current_user), data: { turbo_frame: dom_id(Post.new) } %>
    
    <%= turbo_frame_tag Post.new %>

    <%= turbo_frame_tag "posts" do %>
        <%= render @posts, user: current_user %>
    <% end %>
</div>