<%= stylesheet_link_tag "posts" %>

<%= turbo_stream_from "posts" %>

<% if user_signed_in? %>
<%#= turbo_stream_from current_user&.to_gid_param %>
<% end %>

<div class="feed">
    <h1>Posts</h1>

    <%= turbo_frame_tag id="new_post", src: new_user_post_path(current_user) %>

    <%= turbo_frame_tag "posts" do %>
        <%= render @posts, user: current_user %>
    <% end %>
</div>