<%= turbo_frame_tag "post-modal" do %>
    <%= turbo_stream_from "posts" %>

    <div class="post__header">
        <div></div>
        <h1><%= @post.creator.profile.first_name %>'s Post</h1>
        <% if request.headers["Turbo-Frame"] %>
            <button data-action="modal#close">X</button>
        <% else %>
            <%= link_to "Back", :back %>
        <% end %>
    </div>

    <%= render "post", post: @post, user: current_user, show_page: true %>
<% end %>