<%= stylesheet_link_tag "navbar" %>

<nav>
    <h1><%= link_to "Odinbook", root_path %></h1>

    <% if user_signed_in? %>
        <% if current_user.requesters.any? %>      
            <ul>
                <% current_user.requesters.each do |requester| %>
                <li><%= requester.profile.full_name  %><%= render "shared/request_response" %></li>
                <% end %>
            </ul>
        <% end %>

    
        <p>Signed in as <%= link_to current_user.profile.full_name, user_profile_path(current_user) %>.
        <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete,
                                                                   turbo_confirm: "Are you sure?"} %>
    </p>
    <% else %>
        <p><%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %></p>
    <% end %>

</nav>