<!DOCTYPE html>
<html>
  <head>
    <title>OdinBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      <% if user_signed_in? %>
        [data-visible-to]:not([data-visible-to="<%= current_user.id %>"]) {
          display: none
        }
      <% end %>
    </style>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div>
      <% if flash.any? %>
        <% flash.each do |_type, message| %>
          <p><%= message %></p>
        <% end %>
      <% end %>
    </div>

    <dialog class="modal" 
            data-controller="modal" 
            data-modal-target="modal"  
            data-action="turbo:frame-load->modal#open click->modal#lightDismiss">
        <%= turbo_frame_tag "post-modal", data: { modal_target: "modalContent" } %>
    </dialog>

    <%= yield %>
  </body>
</html>
